body {
  margin: 0;
  background-Image: url(/public/Images/background.png); /* To add background image for this apllication*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
